.caja-roja{background-color: aqua;color:blueviolet}
#unico{background-color: chocolate;color: darksalmon;}
p{color: blue; font-size: 30px;text-transform: uppercase;}
h1{color:chartreuse;background-color:blueviolet;}
h2{color:red;}
h4{color:gold;}
ul{color:darkred;}
li{color:rgb(50, 204, 140);}
nav ul li a{color:black;font-weight:bolder;}
header{background-color:darkolivegreen;}
p a{text-decoration:line;color:deeppink}
footer p{text-align: center;background-color: green;}
body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.foto{text-align:center;}
