p{ color: blue; font-size: 30px}
h1{color:chartreuse;background-color:blueviolet;}
h2{color:red;}
h4{color:gold;}
ul{color:darkred;}
li{color:rgb(50, 204, 140);}
nav ul li a{color:blanchedalmond}
header{background-color:darkolivegreen;}
p a{text-decoration:line-through;color:deeppink}
footer{text-align: center;background-color: green;}
